@font-face {
    font-family: featuresFont;
    src: url(../../Font/features.ttf);
}

@font-face {
    font-family: hyperspace;
    src: url(../../Font/Hyperspace.otf);
}

@font-face {
    font-family: hyperspacebold;
    src: url(../../Font/HyperspaceBold.otf);
}

.wrapper{
    position: relative;
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    
   
}

.accordion{
    width: auto;
    position: relative;
    top: 5vh;
    
    
}



.item{
    background: transparent;
    margin-bottom: 0px;
    padding: 20px 20px;
    height: auto;
    width: auto;
    
   
}



.title{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    
}


.content{
    color: white;
    max-height: 0;
    overflow: hidden;

    transition: all 0.5s cubic-bezier(0,1,0,1);
    
}



h2{
    font-size: 2vh;
    font-family: featuresFont;
    letter-spacing: 0.2vh;
    text-transform: uppercase;
}

p{
    
    font-size: 1.5vh;
    font-family: featuresFont;
    line-height: 3vh;
}

.content.show{
    height: auto;
    max-height: 999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
    font-size: 1.5vh;
}

@media screen and (max-width:468px){
    h2{
        font-size: 1.5vh;
        font-family: featuresFont;
        letter-spacing: 0.2vh;
        text-transform: uppercase;
    }
    
    p{
        
        font-size: 1.5vh;
        font-family: featuresFont;
        line-height: 3vh;
    }
}


