@font-face {
  font-family: featuresFont;
  src: url(../../Font/features.ttf);
}

.mySwiperTeam {
    cursor: -webkit-grab; cursor: grab;
    width: 70vw;
    height: 75%;
    margin: 0vh 15vh;
    position: relative;
    -webkit-mask-image: 
    linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 1) 1%, 
    rgba(0, 0, 0, 1) 99%, transparent 100%);
  }
  
  .mySwiperTeam-slide {
    text-align: left;
    font-size: 25px;
    color: white;
    padding: 0vh 5vh;
  
    /* Center slide text vertically */
   
    flex-wrap: wrap;
   
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
   

  }
  
  .mySwiperTeam-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
  }
  
  .mySwiperTeam-slide:nth-child(1n) {
    width:31%;
  }
  
  .mySwiperTeam-slide:nth-child(2n) {
    width:31%;
  }
  
  .mySwiperTeam-slide:nth-child(3n) {
    width:31%;
  }
  

  .container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0vh 0vh;
    padding-left: 20vh;
  }

  .li{
    font-size: 2vh;
    line-height: 3vh;
    font-family: featuresFont;
    width: 100%;
  }

  @media screen and (max-width:1366px){
    .mySwiperTeam {
      cursor: -webkit-grab; cursor: grab;
      width: 75vw;
      height: 75%;
      margin: 0vh 15vh;
      position: relative;
     
    }

  

    .container{
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0vh 0vh;
      padding-left: 0vh;
    }
  
    .li{
      font-size: 1.5vh;
      line-height: 3vh;
      font-family: featuresFont;
      width: 100%;
    }

    .mySwiperTeam-slide:nth-child(1n) {
      width:31%;
    }
    
    .mySwiperTeam-slide:nth-child(2n) {
      width:31%;
    }
    
    .mySwiperTeam-slide:nth-child(3n) {
      width:31%;
    }
  }

  @media screen and (max-width:1024px){


    .mySwiperTeam {
      cursor: -webkit-grab; cursor: grab;
      width: 90vw;
      height: 75%;
      margin: 0vh 0vh;
      position: relative;
     
    }

    .container{
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0vh 0vh;
      padding-left: 0vh;
    }
  
    .li{
      font-size: 1.5vh;
      line-height: 3vh;
      font-family: featuresFont;
     
      width: 100%;
    }

    .mySwiperTeam-slide:nth-child(1n) {
      width:31%;
    }
    
    .mySwiperTeam-slide:nth-child(2n) {
      width:31%;
    }
    
    .mySwiperTeam-slide:nth-child(3n) {
      width:31%;
    }
  }

  
  @media screen and (max-width:768px){

    .mySwiperTeam {
      cursor: -webkit-grab; cursor: grab;
      width: 90vw;
      height: 75%;
      padding: 0vh 2vh;
      position: relative;
     
    }

    .container{
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0vh 0vh;
      padding-left: 0vh;
    }
  
    .li{
      font-size: 1.5vh;
      line-height: 3vh;
      font-family: featuresFont;
      width: 100%;
    }

    .mySwiperTeam-slide:nth-child(1n) { 
      width:100%;
    }
    
    .mySwiperTeam-slide:nth-child(2n) {
      width:100%;
    }
    
    .mySwiperTeam-slide:nth-child(3n) {
      width:100%;
    }
  }


  
  @media screen and (max-width:468px){
    .mySwiperTeam {
      cursor: -webkit-grab; cursor: grab;
      width: 95vw;
      height: 75%;
      padding: 0vh 2vh;
      position: relative;
      right: 0vh;
    }

    .container{
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0vh 0vh;
      padding-left: 7vh;
    }
  
    .li{
      font-size: 1.5vh;
      line-height: 3vh;
      font-family: featuresFont;
      width: 100%;
    }

    .mySwiperTeam-slide:nth-child(1n) {
      width:100%;
    }
    
    .mySwiperTeam-slide:nth-child(2n) {
      width:100%;
    }
    
    .mySwiperTeam-slide:nth-child(3n) {
      width:100%;
    }
  }
  
  .swiper-pagination-bullet-active {
    background-color: #eb102e !important;
  }
  
  .swiper-button-next { color: #eb102e !important; }
  
  .swiper-button-prev { color: #eb102e !important; }
  
  