
.mySwiperFeatures {
    width: 63vw;
    height: auto;
    position: relative;
    top: 18vh;
    left: -45vh;
    
  }
  
  .mySwiperFeatures-slide {
    text-align: center;

  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
  }
  
  .mySwiperFeatures-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .mySwiperFeatures-slide:nth-child(1n) {
    width: 20%;
  }
  
  .mySwiperFeatures-slide:nth-child(2n) {
    width: 20%;
  }
  
  .mySwiperFeatures-slide:nth-child(3n) {
    width: 20%;
  }
 
  

  @media screen and (max-width:1366px){
      
.mySwiperFeatures {
    width: 50vw;
    height: auto;
    position: relative;
    top: 0vh;
    left: 0vh;
  }
  
  .mySwiperFeatures-slide {
    text-align: center;

  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .mySwiperFeatures-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .mySwiperFeatures-slide:nth-child(1n) {
    width: 20%;
  }
  
  .mySwiperFeatures-slide:nth-child(2n) {
    width: 20%;
  }
  
  .mySwiperFeatures-slide:nth-child(3n) {
    width: 20%;
  }
  }

  @media screen and (max-width:1024px){
      
.mySwiperFeatures {
    width: 50vw;
    height: auto;
    position: relative;
    top: 0vh;
    left: 0vh;
  }
  
  .mySwiperFeatures-slide {
    text-align: center;

  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .mySwiperFeatures-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .mySwiperFeatures-slide:nth-child(1n) {
    width: 46%;
  }
  
  .mySwiperFeatures-slide:nth-child(2n) {
    width: 46%;
  }
  
  .mySwiperFeatures-slide:nth-child(3n) {
    width: 46%;
  }
  
  }


  
  @media screen and (max-width:768px){
      
    .mySwiperFeatures {
        width: 80vw;
        height: auto;
        position: relative;
        top: 0vh;
        left: 0vh;
      }
      
      .mySwiperFeatures-slide {
        text-align: center;
    
      
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      
      .mySwiperFeatures-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .mySwiperFeatures-slide:nth-child(1n) {
        width: 46%;
      }
      
      .mySwiperFeatures-slide:nth-child(2n) {
        width: 46%;
      }
      
      .mySwiperFeatures-slide:nth-child(3n) {
        width: 46%;
      }
      
      }

     
      
.swiper-pagination-bullet-active {
  background-color: #eb102e !important;
}

.swiper-button-next { color: #eb102e !important; }

.swiper-button-prev { color: #eb102e !important; }

